@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.sidebar-bg {
  background: #f2f2f2;
  background: linear-gradient(90deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 82%, rgba(255, 255, 255, 0) 100%);
}

.dark .sidebar-bg {
  background: linear-gradient(90deg, #18181b 0%, #232326 82%, rgba(24, 24, 27, 0) 100%)
}


.animate-slide-in-left {
  animation: slide-in-left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* .sidebar-blur-right { */
/* position: absolute;
  top: 0;
  right: -32px;
  width: 32px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to right, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.1) 100%) !important;
  filter: blur(12px);
  z-index: 51;
}
@media (prefers-color-scheme: dark) {
  .sidebar-blur-right {
    background: linear-gradient(to right, rgba(24,24,24,0.7) 0%, rgba(24,24,24,0.1) 100%) !important;
  }
} */

.forms-bg {
  background: #f2f2f2;
  background: radial-gradient(circle, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 81%, rgba(242, 242, 242, 0) 100%);
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

